@charset "UTF-8";


.tl-emoticon{
	text-align: center;
    display: inline-block;
    line-height: 1;
    padding: 5px;
    vertical-align: top;
}

.tl-emoticon-button{
	position: relative;
    border: none;
    width: 32px;
    padding: 0;
    height: 32px;
    outline: none;
    cursor: pointer;
}

.tl-emoticon-span{
	display: inline-block;
    padding: 5px;
    line-height: 1;
    cursor: default;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.tl-emoticon-span button{
	width:20px;
	height:20px;
}

/*Yüz İfadeleri*/
.tl-emo-1F600{
	background:url('../emoticons/1F600.svg');
}

.tl-emo-1F62C{
	background:url('../emoticons/1F62C.svg');
}

.tl-emo-1F602{
	background:url('../emoticons/1F602.svg');
}

.tl-emo-1F603{
	background:url('../emoticons/1F603.svg');
}

.tl-emo-1F604{
	background:url('../emoticons/1F604.svg');
}

.tl-emo-1F605{
	background:url('../emoticons/1F605.svg');
}

.tl-emo-1F609{
	background:url('../emoticons/1F609.svg');
}

.tl-emo-263A{
	background:url('../emoticons/263A.svg');
}

.tl-emo-1F60B{
	background:url('../emoticons/1F60B.svg');
}

.tl-emo-1F60E{
	background:url('../emoticons/1F60E.svg');
}

.tl-emo-1F60D{
	background:url('../emoticons/1F60D.svg');
}

.tl-emo-1F618{
	background:url('../emoticons/1F618.svg');
}

.tl-emo-1F617{
	background:url('../emoticons/1F617.svg');
}

.tl-emo-1F619{
	background:url('../emoticons/1F619.svg');
}

.tl-emo-1F61A{
	background:url('../emoticons/1F61A.svg');
}

/*Bayraklar*/
.tl-emo-1F3F3{
	background:url('../emoticons/1F3F3.svg');
}

.tl-emo-1F1E6-1F1E8{
	background:url('../emoticons/1F1E6-1F1E8.svg');
}

.tl-emo-1F1E6-1F1E9{
	background:url('../emoticons/1F1E6-1F1E9.svg');
}

.tl-emo-1F1E6-1F1EA{
	background:url('../emoticons/1F1E6-1F1EA.svg');
}

.tl-emo-1F1E6-1F1EB{
	background:url('../emoticons/1F1E6-1F1EB.svg');
}

.tl-emo-1F1E6-1F1EC{
	background:url('../emoticons/1F1E6-1F1EC.svg');
}

/*Doğa*/
.tl-emo-1F42F{
	background:url('../emoticons/1F42F.svg');
}

/*Yiyecekler*/
.tl-emo-1F354{
	background:url('../emoticons/1F354.svg');
}

/*Semboller*/
.tl-emo-1F394{
	background:url('../emoticons/1F394.svg');
}

/*Spor*/
.tl-emo-1F3C0{
	background:url('../emoticons/1F3C0.svg');
}

/*Aktivite*/
.tl-emo-1F3CA{
	background:url('../emoticons/1F3CA.svg');
}

/*Nesne*/
.tl-emo-1F4A1{
	background:url('../emoticons/1F4A1.svg');
}